---
import Footer from "@/sections/Footer.astro";
import Header from "@/sections/v1/Header.astro";
import { type ComponentProps } from "../../../../../globals/types/ComponentProps";
import "../../globals-v2.scss";
import { glossaryLetter_T } from "../../../../../globals/translations/glossary";

interface Props {
  componentProps: ComponentProps;
}

const { componentProps } = Astro.props;
---

<html
  lang={componentProps.lang}
  dir={componentProps.dir}
  data-brandname={componentProps.brandObj.name}
  data-lptype={componentProps.lpType}
  data-formvalidation={componentProps.formValidation}
  data-recaptchasitekey={componentProps.brandObj.recaptchaKey}
  data-typage={componentProps.brandObj.typage[componentProps.lang]}
  data-openwa={componentProps.brandObj.whatsapp && "true"}
  data-wanumber={componentProps.brandObj.whatsapp ? componentProps.brandObj.whatsappNumber[componentProps.lang] : false}
>
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href={componentProps.brandObj.images.faviconLink} />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{glossaryLetter_T.thankYouTitle[componentProps.lang]} | {componentProps.brandObj.name}</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700;900&display=swap" rel="stylesheet" />
    <style>
      /* latin */
      @font-face {
        font-family: "Poppins";
        font-style: normal;
        font-weight: 400;
        font-display: swap;
        src: url(https://fonts.gstatic.com/s/poppins/v20/pxiEyp8kv8JHgFVrJJfecg.woff2) format("woff2");
        unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
      }

      @font-face {
        font-family: "Poppins";
        font-style: normal;
        font-weight: 700;
        font-display: swap;
        src: url(https://fonts.gstatic.com/s/poppins/v20/pxiByp8kv8JHgFVrLCz7Z1xlFQ.woff2) format("woff2");
        unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
      }

      @font-face {
        font-family: "Poppins";
        font-style: normal;
        font-weight: 900;
        font-display: swap;
        src: url(https://fonts.gstatic.com/s/poppins/v20/pxiByp8kv8JHgFVrLBT5Z1xlFQ.woff2) format("woff2");
        unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
      }
    </style>
  </head>
  <body>
    <div id="siteWrapper">
      <Header componentProps={componentProps} />
      <main class="grid place-items-center">
        <slot />
      </main>
      <Footer componentProps={componentProps} />
    </div>
    <!-- <script type="module" src="https://assets.smartsupporthub.com/js/bundle/astro_lp.js?v1" is:inline></script> -->
    <!-- <script type="module" src="https://assets.smartsupporthub.com/js/bundle/cookieBanner.js" is:inline></script> -->
    <script type="module" src="/assets/js/tagmanager.js" is:inline></script>
  </body>
</html>

<style is:global>
  body {
    font-family: "Poppins", sans-serif;
    font-style: normal;
  }

  #siteWrapper {
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
    position: relative;
  }
</style>
