---
import { Image } from "astro:assets";
import useFxoroBrandOutput from "../../../../../../globals/composables/useFxoroBrandOutput";
import useTextVersion from "../../../../../../globals/composables/useTextVersion";
import type { ComponentProps } from "../../../../../../globals/types/ComponentProps.ts";
import type {
  TextVersionTranslation,
  TranslationsType,
} from "../../../../../../globals/types/Translations";
import icon1 from "../../../assets/imgs/Lecture/icon_1.png";
import icon2 from "../../../assets/imgs/Lecture/icon_2.png";
import icon3 from "../../../assets/imgs/Lecture/icon_3.png";
import icon4 from "../../../assets/imgs/Lecture/icon_4.png";
import phone from "../../../assets/imgs/Lecture/phone.png";

interface Props {
  componentProps: ComponentProps;
}
const { componentProps } = Astro.props;

const titleVs: TextVersionTranslation = {
  v1: {
    en: "Get access to our Tools:",
    it: "Ottieni l'accesso ai nostri tools:",
    tr: "",
    ro: "",
    ar: "",
    de: "",
    es: "Acceda a nuestras herramientas:",
    sv: "Få tillgång till våra verktyg:",
    pt: "",
    fi: "",
    pl: "Uzyskaj dostęp do naszych narzędzi:",
    hu: "",
    th: "",
    ms: "",
    vi: "",
  },
  v2: {
    en: "Get access to our Tools:",
    it: "Ottieni l'accesso ai nostri tools:",
    tr: "",
    ro: "",
    ar: "",
    de: "",
    es: "Acceda a nuestras herramientas:",
    sv: "Få tillgång till våra verktyg:",
    pt: "",
    fi: "",
    pl: "Uzyskaj dostęp do naszych narzędzi:",
    hu: "",
    th: "",
    ms: "",
    vi: "",
  },
  v3: {
    en: "",
    it: "",
    tr: "",
    ro: "",
    ar: "",
    de: "",
    es: "",
    sv: ``,
    pt: "",
    fi: "",
    pl: `Handluj walutami, akcjami, towarami i innymi instrumentami z lepszą znajomością rynku.`,
    hu: "",
    th: "",
    ms: "",
    vi: "",
  },
  v4: {
    en: "",
    it: "",
    tr: "",
    ro: "",
    ar: "",
    de: "",
    es: "Opere con divisas, acciones, materias primas y más con un mejor conocimiento del mercado.",
    sv: ``,
    pt: "",
    fi: "",
    pl: ``,
    hu: "",
    th: "",
    ms: "",
    vi: "",
  },
};
const title = useTextVersion(
  titleVs,
  componentProps.textVersion,
) as TranslationsType;

const bullets: {
  title: TextVersionTranslation;
  iconImage: ImageMetadata;
  para: TextVersionTranslation;
}[] = [
  {
    title: {
      v1: {
        en: "The latest market news",
        it: "Le ultime new di mercato",
        tr: "",
        ro: "",
        ar: "",
        de: "",
        es: "Las últimas noticias del mercado",
        sv: "De senaste marknadsnyheterna",
        pt: "",
        fi: "",
        pl: "Najnowsze nowości rynkowe",
        hu: "",
        th: "",
        ms: "",
        vi: "",
      },
      v2: {
        en: "The latest market news",
        it: "Le ultime new di mercato",
        tr: "",
        ro: "",
        ar: "",
        de: "",
        es: "Las últimas noticias del mercado",
        sv: "De senaste marknadsnyheterna",
        pt: "",
        fi: "",
        pl: "Najnowsze nowości rynkowe",
        hu: "",
        th: "",
        ms: "",
        vi: "",
      },
      v3: {
        en: "",
        it: "",
        tr: "",
        ro: "",
        ar: "",
        de: "",
        es: "",
        sv: ``,
        pt: "",
        fi: "",
        pl: `Webinary`,
        hu: "",
        th: "",
        ms: "",
        vi: "",
      },
      v4: {
        en: "",
        it: "",
        tr: "",
        ro: "",
        ar: "",
        de: "",
        es: "Webinarios",
        sv: ``,
        pt: "",
        fi: "",
        pl: ``,
        hu: "",
        th: "",
        ms: "",
        vi: "",
      },
    },
    para: {
      v1: {
        en: "",
        it: "",
        tr: "",
        ro: "",
        ar: "",
        de: "",
        es: "",
        sv: ``,
        pt: "",
        fi: "",
        pl: ``,
        hu: "",
        th: "",
        ms: "",
        vi: "",
      },
      v2: {
        en: "",
        it: "",
        tr: "",
        ro: "",
        ar: "",
        de: "",
        es: "",
        sv: ``,
        pt: "",
        fi: "",
        pl: ``,
        hu: "",
        th: "",
        ms: "",
        vi: "",
      },
      v3: {
        en: "",
        it: "",
        tr: "",
        ro: "",
        ar: "",
        de: "",
        es: "",
        sv: ``,
        pt: "",
        fi: "",
        pl: `Naucz się odczytywać trendy i odkrywać najlepsze okazje handlowe z pomocą naszych webinarów.`,
        hu: "",
        th: "",
        ms: "",
        vi: "",
      },
      v4: {
        en: "",
        it: "",
        tr: "",
        ro: "",
        ar: "",
        de: "",
        es: "",
        sv: ``,
        pt: "",
        fi: "",
        pl: ``,
        hu: "",
        th: "",
        ms: "",
        vi: "",
      },
    },
    iconImage: icon1,
  },
  {
    title: {
      v1: {
        en: "Video tutorials",
        it: "Video tutorial",
        tr: "",
        ro: "",
        ar: "",
        de: "",
        es: "Tutoriales en vídeo",
        sv: "Videohandledning",
        pt: "",
        fi: "",
        pl: "Samouczki wideo",
        hu: "",
        th: "",
        ms: "",
        vi: "",
      },
      v2: {
        en: "Video tutorials",
        it: "Video tutorial",
        tr: "",
        ro: "",
        ar: "",
        de: "",
        es: "Tutoriales en vídeo",
        sv: "Videohandledning",
        pt: "",
        fi: "",
        pl: "Samouczki wideo",
        hu: "",
        th: "",
        ms: "",
        vi: "",
      },
      v3: {
        en: "",
        it: "",
        tr: "",
        ro: "",
        ar: "",
        de: "",
        es: "",
        sv: ``,
        pt: "",
        fi: "",
        pl: `Tutorial wideo`,
        hu: "",
        th: "",
        ms: "",
        vi: "",
      },
      v4: {
        en: "",
        it: "",
        tr: "",
        ro: "",
        ar: "",
        de: "",
        es: "Tutoriales en vídeo",
        sv: ``,
        pt: "",
        fi: "",
        pl: ``,
        hu: "",
        th: "",
        ms: "",
        vi: "",
      },
    },
    para: {
      v1: {
        en: "",
        it: "",
        tr: "",
        ro: "",
        ar: "",
        de: "",
        es: "",
        sv: ``,
        pt: "",
        fi: "",
        pl: ``,
        hu: "",
        th: "",
        ms: "",
        vi: "",
      },
      v2: {
        en: "",
        it: "",
        tr: "",
        ro: "",
        ar: "",
        de: "",
        es: "",
        sv: ``,
        pt: "",
        fi: "",
        pl: ``,
        hu: "",
        th: "",
        ms: "",
        vi: "",
      },
      v3: {
        en: "",
        it: "",
        tr: "",
        ro: "",
        ar: "",
        de: "",
        es: "",
        sv: ``,
        pt: "",
        fi: "",
        pl: `Przejrzyste i zwięzłe filmy instruktażowe pozwalające odkryć nowe taktyki handlowe.`,
        hu: "",
        th: "",
        ms: "",
        vi: "",
      },
      v4: {
        en: "",
        it: "",
        tr: "",
        ro: "",
        ar: "",
        de: "",
        es: "",
        sv: ``,
        pt: "",
        fi: "",
        pl: ``,
        hu: "",
        th: "",
        ms: "",
        vi: "",
      },
    },
    iconImage: icon2,
  },
  {
    title: {
      v1: {
        en: "Online training",
        it: "Trading on-line",
        tr: "",
        ro: "",
        ar: "",
        de: "",
        es: "Formación en línea",
        sv: "Utbildning på nätet",
        pt: "",
        fi: "",
        pl: "Szkolenie online",
        hu: "",
        th: "",
        ms: "",
        vi: "",
      },
      v2: {
        en: "Online training",
        it: "Trading on-line",
        tr: "",
        ro: "",
        ar: "",
        de: "",
        es: "Formación en línea",
        sv: "Utbildning på nätet",
        pt: "",
        fi: "",
        pl: "Szkolenie online",
        hu: "",
        th: "",
        ms: "",
        vi: "",
      },
      v3: {
        en: "",
        it: "",
        tr: "",
        ro: "",
        ar: "",
        de: "",
        es: "",
        sv: ``,
        pt: "",
        fi: "",
        pl: `Kursy indywidualne`,
        hu: "",
        th: "",
        ms: "",
        vi: "",
      },
      v4: {
        en: "",
        it: "",
        tr: "",
        ro: "",
        ar: "",
        de: "",
        es: "Formación personalizada",
        sv: ``,
        pt: "",
        fi: "",
        pl: ``,
        hu: "",
        th: "",
        ms: "",
        vi: "",
      },
    },
    para: {
      v1: {
        en: "",
        it: "",
        tr: "",
        ro: "",
        ar: "",
        de: "",
        es: "",
        sv: ``,
        pt: "",
        fi: "",
        pl: ``,
        hu: "",
        th: "",
        ms: "",
        vi: "",
      },
      v2: {
        en: "",
        it: "",
        tr: "",
        ro: "",
        ar: "",
        de: "",
        es: "",
        sv: ``,
        pt: "",
        fi: "",
        pl: ``,
        hu: "",
        th: "",
        ms: "",
        vi: "",
      },
      v3: {
        en: "",
        it: "",
        tr: "",
        ro: "",
        ar: "",
        de: "",
        es: "",
        sv: ``,
        pt: "",
        fi: "",
        pl: `Odkryj nowe strategie dzięki indywidualnym sesjom handlowym z naszymi ekspertami.`,
        hu: "",
        th: "",
        ms: "",
        vi: "",
      },
      v4: {
        en: "",
        it: "",
        tr: "",
        ro: "",
        ar: "",
        de: "",
        es: "Aprenda a detectar tendencias, reconocer mejores oportunidades de trading, realizar análisis y más.",
        sv: ``,
        pt: "",
        fi: "",
        pl: ``,
        hu: "",
        th: "",
        ms: "",
        vi: "",
      },
    },
    iconImage: icon3,
  },
  {
    title: {
      v1: {
        en: "Support line",
        it: "Supporto-on line",
        tr: "",
        ro: "",
        ar: "",
        de: "",
        es: "Línea de asistencia",
        sv: "Telefonsupport",
        pt: "",
        fi: "",
        pl: "Linia wsparcia",
        hu: "",
        th: "",
        ms: "",
        vi: "",
      },
      v2: {
        en: "Support line",
        it: "Supporto-on line",
        tr: "",
        ro: "",
        ar: "",
        de: "",
        es: "Línea de asistencia",
        sv: "Telefonsupport",
        pt: "",
        fi: "",
        pl: "Linia wsparcia",
        hu: "",
        th: "",
        ms: "",
        vi: "",
      },
      v3: {
        en: "",
        it: "",
        tr: "",
        ro: "",
        ar: "",
        de: "",
        es: "",
        sv: ``,
        pt: "",
        fi: "",
        pl: `Aplikacja mobilna ${useFxoroBrandOutput(componentProps.brandObj.name)}`,
        hu: "",
        th: "",
        ms: "",
        vi: "",
      },
      v4: {
        en: "",
        it: "",
        tr: "",
        ro: "",
        ar: "",
        de: "",
        es: "Señales de Forex gratis",
        sv: ``,
        pt: "",
        fi: "",
        pl: ``,
        hu: "",
        th: "",
        ms: "",
        vi: "",
      },
    },
    para: {
      v1: {
        en: "",
        it: "",
        tr: "",
        ro: "",
        ar: "",
        de: "",
        es: "",
        sv: ``,
        pt: "",
        fi: "",
        pl: ``,
        hu: "",
        th: "",
        ms: "",
        vi: "",
      },
      v2: {
        en: "",
        it: "",
        tr: "",
        ro: "",
        ar: "",
        de: "",
        es: "",
        sv: ``,
        pt: "",
        fi: "",
        pl: ``,
        hu: "",
        th: "",
        ms: "",
        vi: "",
      },
      v3: {
        en: "",
        it: "",
        tr: "",
        ro: "",
        ar: "",
        de: "",
        es: "",
        sv: ``,
        pt: "",
        fi: "",
        pl: `Aplikacja jest dostępna na urządzenia z systemem iOS (iPad i iPhone) oraz Android.`,
        hu: "",
        th: "",
        ms: "",
        vi: "",
      },
      v4: {
        en: "",
        it: "",
        tr: "",
        ro: "",
        ar: "",
        de: "",
        es: "Conocer el mercado Forex nunca había sido tan fácil con nuestras señales concisas y fáciles de entender.",
        sv: ``,
        pt: "",
        fi: "",
        pl: ``,
        hu: "",
        th: "",
        ms: "",
        vi: "",
      },
    },
    iconImage: icon4,
  },
];
---

<section id="section3" class="py-9">
  <div class="container flex flex-col gap-8 lg:flex-row">
    <div class="lg:basis-1/2">
      <h2
        set:html={title[componentProps.lang]}
        class="border-b-2 border-b-primary pb-2 text-center text-Lecture-heading2 font-bold md:max-w-[40ch] md:text-start"
      />
      <div
        class="mt-8 flex flex-col items-center justify-center gap-8 text-center md:flex-row md:flex-wrap md:items-start md:justify-start md:gap-y-4 md:text-start"
      >
        {
          bullets.map((bullet) => {
            const actualBullet = useTextVersion(
              bullet.title,
              componentProps.textVersion,
            ) as TranslationsType;
            const actualPara = useTextVersion(
              bullet.para,
              componentProps.textVersion,
            ) as TranslationsType;

            return (
              <div class="flex h-full flex-col items-center justify-center gap-2 md:basis-[45%] md:items-start md:justify-start">
                <Image
                  src={bullet.iconImage}
                  alt="Graph presentation"
                  class="h-28 w-auto md:h-20"
                  widths={[
                    320,
                    576,
                    640,
                    768,
                    1024,
                    1280,
                    1536,
                    bullet.iconImage.width,
                  ]}
                  sizes={`
                    (max-width: 320px) 320px,
                    350px
                  `}
                />
                <h3
                  set:html={actualBullet[componentProps.lang]}
                  class="text-Lecture-heading3 font-bold uppercase text-primary lg:max-w-[30ch]"
                />
                {actualPara[componentProps.lang] && (
                  <p
                    class="hidden md:block"
                    set:html={actualPara[componentProps.lang]}
                  />
                )}
              </div>
            );
          })
        }
      </div>
    </div>
    <div class="grid place-items-center lg:basis-1/2">
      <Image
        src={phone}
        alt="Graph presentation"
        class="w-full max-w-[350px]"
        widths={[320, 576, 640, 768, 1024, 1280, 1536, phone.width]}
        sizes={`
          (max-width: 320px) 320px,
          350px
        `}
      />
    </div>
  </div>

  <style lang="scss">
    h2 {
    }
  </style>
</section>
