---
import ButtonDisclaimer from "@/components/ButtonDisclaimer.astro";
import { Image } from "astro:assets";
import MainLogo from "../../../../../globals/components/logos/MainLogo.astro";
import { type ComponentProps } from "../../../../../globals/types/ComponentProps";
import type { TranslationsType } from "../../../../../globals/types/Translations";
import bg from "../../assets/imgs/Oil/topBG-desktop.jpg";

interface Props {
  componentProps: ComponentProps;
}
const { componentProps } = Astro.props;

const title: TranslationsType = {
  en: `<span class="text-primary">Trade Oil</span> with a top Broker`,
  it: ``,
  tr: ``,
  ro: ``,
  ar: ``,
  de: ``,
  es: ``,
  sv: ``,
  pt: ``,
  fi: ``,
  pl: ``,
  hu: ``,
  th: ``,
  ms: ``,
  vi: ``,
};

const para: TranslationsType = {
  en: `<span class="text-primary">${componentProps.brandObj.name}</span> offers you all the knowledge and last generation tools in order to let you trade oil and all other instruments on the market.`,
  it: ``,
  tr: ``,
  ro: ``,
  ar: ``,
  de: ``,
  es: ``,
  sv: ``,
  pt: ``,
  fi: ``,
  pl: ``,
  hu: ``,
  th: ``,
  ms: ``,
  vi: ``,
};

const buttonLabel: TranslationsType = {
  en: `Register Now!`,
  it: ``,
  tr: ``,
  ro: ``,
  ar: ``,
  de: ``,
  es: ``,
  sv: ``,
  pt: ``,
  fi: ``,
  pl: ``,
  hu: ``,
  th: ``,
  ms: ``,
  vi: ``,
};
---

<header class="relative">
  <Image
    src={bg}
    alt="Background"
    class="absolute inset-0 z-0 h-full w-full object-cover object-left md:object-center"
    widths={[320, 576, 640, 768, 1024, 1280, 1536, bg.width]}
    sizes={`
      (max-width: 320px) 576px,
      (max-width: 576px) 640px,
      (max-width: 640px) 768px,
      (max-width: 768px) 1024px,
      (max-width: 1024px) 1280px,
      (max-width: 1280px) 1536px,
      100vw
    `}
  />
  <div class="absolute inset-0 z-10 bg-stone-800/90 xl:hidden"></div>
  <div class="container relative z-20 text-white">
    <div
      class="py-5 sm:py-7 md:py-9 lg:py-10 xl:py-12 2xl:py-16 [&>svg]:max-w-full"
    >
      <MainLogo
        size={componentProps.brandObj.nameToLower}
        logo={componentProps.logo()}
        square={componentProps.customOptions?.logoSquare}
      />
    </div>
    <div class="py-5 sm:py-7 md:py-9 lg:py-10 xl:py-12 2xl:py-16">
      <div
        class="grid place-items-center gap-8 text-center leading-tight lg:gap-14"
      >
        <h1
          class="max-w-[35ch] text-gold-heading1 font-bold"
          set:html={title[componentProps.lang]}
        />
        <p
          class="max-w-[45ch] text-gold-para-lead font-medium"
          set:html={para[componentProps.lang]}
        />
        <ButtonDisclaimer
          buttonLabel={buttonLabel[componentProps.lang]}
          lang={componentProps.lang}
          whatsapp={componentProps.brandObj.whatsapp}
          tw="shadow-2xl shadow-white/50"
        />
      </div>
    </div>
  </div>
</header>
